body {
    background-color: #FFFDF4
}

p {
    color: black;
}

h1 {
    color: #a40c24;
}

h2 {
    color: #a40c24;
}

h3 {
    color: #a40c24;
}
h4{
    color: black;
}
figcaption{
    color: #a40c24;
}
